.comment-card {
  display: grid;
  grid-template-columns: auto 150px 150px;
  border: 1px solid rgba(0,0,0,.4);
  margin: 0 0 10px 0;
  padding: 10px 20px;
}

.comment-info {
  grid-column: 1/2;
}

.comment-info h3 {
  margin: 0 0 10px 0;
}

.comment-info-author {
  margin: 0 0 10px 0;
}

.comment-date {
  size: 1;
  color: #434343;
}
